<%- include("../partials/header_admin.ejs") %>

<h1>Welcome Back, <%= curUser.username %>
</h1>


<div class="admin-title">
    <h2>Posts</h2>
    <a href="/add-post">+ Add Post</a>
</div>


<ul class="admin-posts">
    <% data.forEach(element=> { %>
        <li>
            <a href="/post/<%= element._id %>">
                <span>
                    <%= element.title %> &nearr;
                </span>
                <div class="admin-post-controls">
                    <a href="/edit-post/<%= element._id %>" class="btn btn-admin" style="color: aliceblue;">EDIT</a>
                    <form action="/delete-post/<%= element._id %>?_method=DELETE" method="POST">
                        <input type="submit" value="DELETE" class="btn btn-admin" style="color: aliceblue;">
                    </form>
                </div>
            </a>
        </li>
        <% }) %>
</ul>